/.idea/
/notebooks/.ipynb_checkpoints/
/notebooks/rnalib_testdata/
/docs/_templates/
/docs/_build/
/docs/_api/
/docs/_static/screencasts/all.sh
/docs/build_docs.sh
/docs/_static/screencasts/*.yml
/release.txt
/dist/
/rnalib/rnalib.egg-info/
/rnalib.egg-info/
/build/
/TODOs.txt
/.tox/
/notebooks/DELME_*
/docs/_static/screencasts/test.gif
/docs/_static/screencasts/test.py
